.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  line-height: calc(14 / 12);
  text-transform: uppercase;
  border-radius: 100px;

  color: #ffffff;

  padding: 0 20px;
  height: 34px;

  @media screen and(min-width:768px) {
    height: 38px;
  }

  @media screen and(min-width:1280px) {
    height: 42px;
  }
}

.btn.home,
.btn.library {
  background-color: $white-color;
  color: $black-color;
}

.btn.home.current,
.btn.library.current {
  background-color: $black-color;
  color: $white-color;
}

.btn.home {
  width: 87px;

  @media screen and(min-width:768px) {
    width: 83px;
  }

  @media screen and(min-width:1280px) {
    width: 99px;
  }
}

.btn.library {
  width: 113px;

  @media screen and(min-width:768px) {
    width: 109px;
  }

  @media screen and(min-width:1280px) {
    width: 117px;
  }
}

.search-btn {
  position: absolute;
  right: 14;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  align-items: center;

  padding: 0;

  border: none;
  background-color: transparent;
}
