header {
  height: 460px;
  margin-top: 20px;

  border-radius: 10px;

  background-image: url(../images/header/sm@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @media screen and(min-device-pixel-ratio: 2),
    screen and(min-resolution: 192dpi),
    screen and(min-resolution: 2dppx) {
    background-image: url(../images/header/sm@2x.jpg);
  }

  @media screen and(min-width:768px) {
    margin-top: 32px;
    height: 222px;

    border-radius: 15px;

    background-image: url(../images/header/md@1x.jpg);

    @media screen and(min-device-pixel-ratio: 2),
      screen and(min-resolution: 192dpi),
      screen and(min-resolution: 2dppx) {
      background-image: url(../images/header/md@2x.jpg);
    }
  }

  @media screen and(min-width:1280px) {
    height: 316px;

    background-image: url(../images/header/lg@1x.jpg);

    @media screen and(min-device-pixel-ratio: 2),
      screen and(min-resolution: 192dpi),
      screen and(min-resolution: 2dppx) {
      background-image: url(../images/header/lg@2x.jpg);
    }
  }
}

.btn-list {
  display: flex;
  gap: 4px;

  @media screen and(max-width: 767px) {
    margin-bottom: 8px;
  }
}

.navigation {
  flex: 1 1 auto;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;

    gap: 4px;
  }

  @media screen and (min-width: 1280px) {
    gap: 8px;
  }
}

.label {
  position: relative;
}

.input {
  width: 100%;
  height: 34px;

  padding-left: 14px;

  border-radius: 100px;
  border: none;
  outline: none;

  @media screen and(min-width:768px) {
    width: 165px;
    height: 38px;
  }

  @media screen and(min-width:1280px) {
    width: 187px;
    height: 42px;
  }
}

.input::placeholder {
  line-height: calc(14 / 12);

  color: inherit;

  @media screen and(min-width:768px) {
    font-size: 14px;
    line-height: calc(16 / 14);
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 8px;

  font-weight: 500;
  font-size: 32px;
  line-height: calc(38 / 32);

  color: $white-color;

  @media screen and(min-width:768px) {
    justify-content: flex-start;

    font-size: 40px;
    line-height: calc(47 / 40);
  }

  @media screen and(min-width:1280px) {
    font-size: 64px;
    line-height: calc(75 / 64);

    gap: 16px;
  }
}

.logo__image {
  @media screen and(min-width:768px) {
    width: 40px;
    height: 40px;
  }

  @media screen and(min-width:1280px) {
    width: 59px;
    height: 59px;
  }
}

.icon-hearth {
  @media screen and(min-width:768px) {
    width: 16px;
    height: 16px;
  }
}
